@font-face {
    font-family: bricolage;
    src: url("../../../public/fonts/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}

@font-face {
    font-family: kalam-700;
    src: url(../../../public/fonts/Kalam-Bold.ttf);
}