

@mixin flex-spbtw-ctr-row($jf-ct: space-between, $al-it: center, $fl-dir: row) {
  display: flex;
  justify-content: $jf-ct;
  align-items: $al-it;
  flex-direction: $fl-dir;
}

@mixin absolute-ctr() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

  @mixin bricolage-font($size: 20px, $weight: 400){
    font-family: bricolage, sans-serif;
    font-size: $size;
    font-weight: $weight;
  }


@mixin bounce-animation() {
  animation: bounce-animation ease 1s forwards;
}

@mixin bounce-back-animation() {
  animation: bounce-back-animation ease 1s forwards;
}

@keyframes bounce-animation {
  0% {
    width: 145px;
  }
  50% {
    width: 285px;
  }
  85% {
    width: 270px;
  }
  100% {
    width: 275px;
  }
}

@keyframes bounce-back-animation {
  0% {
    width: 275px;
  }
  50% {
    width: 135px;
  }
  85% {
    width: 150px;
  }
  100% {
    width: 145px;
  }
}

@mixin text-bouncing {
  animation: text-bouncing ease-in-out 0.5s forwards;
}

@keyframes text-bouncing {
  0% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  85% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

@mixin text-bouncing-back {
  animation: text-bouncing-back ease-in-out 0.5s forwards;
}

@keyframes text-bouncing-back {
  0% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  85% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@mixin grey-to-color {
  animation: grey-to-color ease-in-out 0.5s forwards;
}

@keyframes grey-to-color {
  0% {
    filter: grayscale(1) brightness(1);
  }
  30% {
    filter: grayscale(0.4) brightness(1.1);
  }
  60% {
    filter: grayscale(0) brightness(0.95);
  }
  85% {
    filter: grayscale(0.1) brightness(1.05);
  }
  100% {
    filter: grayscale(0) brightness(1);
  }
}

@mixin color-to-grey {
  animation: color-to-grey ease-in-out 0.3s forwards;
}

@keyframes color-to-grey {
  0% {
    filter: grayscale(0) brightness(1);
  }
  30% {
    filter: grayscale(0.2) brightness(1.05);
  }
  60% {
    filter: grayscale(0.6) brightness(0.95);
  }
  85% {
    filter: grayscale(0.8) brightness(1.02);
  }
  100% {
    filter: grayscale(1) brightness(1);
  }
}
