<div class="section-wrapper">
  <section class="section-padding inner-section-two-col">
    <div class="left">
      <div class="sticker-wrapper-small display-hide-over-1250px-width">
        <app-my-logo-sticker
          [stickerImgPath]="'images/contact-me/contact_sticker.png'"
          [logoImgPath]="'images/contact-me/meinlogo_black.svg'"
        ></app-my-logo-sticker>
      </div>
      <div class="header-wrapper">
        <div>
          <span class="section-header-small-text-typo">{{
            "contactMe.headerWords" | translate
          }}</span>
          <div class="header-inner-wrapper">
            <h2 class="section-header-typo">
              {{ "contactMe.header" | translate }}
            </h2>
          </div>
        </div>
        <div>
          <p class="section-text-typo">
            {{ "contactMe.mainTextFirst" | translate }}
          </p>
          <p class="section-text-typo">
            {{ "contactMe.mainTextSecond" | translate }}
          </p>
        </div>

        <img
          class="contact-arrow display-hide-1250px-width"
          src="images/contact-me/contact_arrow.png"
          alt="contact arrow"
        />
      </div>
    </div>
    <div class="right">
      <div class="sticker-wrapper display-hide-1250px-width">
        <app-my-logo-sticker
          [stickerImgPath]="'images/contact-me/contact_sticker.png'"
          [logoImgPath]="'images/contact-me/meinlogo_black.svg'"
        ></app-my-logo-sticker>
      </div>
      <app-contact-me-form></app-contact-me-form>
    </div>
  </section>
  <app-footer></app-footer>
</div>
