<div class="section-wrapper">
  <section class="section-padding inner-section-two-col">
    <div class="left">
      <div class="sticker-wrapper-small display-hide-over-1250px-width">
      <img
        class="name-sticker-small "
        src="images/contact-me/contact_sticker.png"
        alt="logo sticker"
      />
      <img class="my-logo-small" src="images/contact-me/meinlogo_black.svg" alt="my logo">
<svg width="160" height="160" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <path
      id="textCircle"
      d="M 80,80 m -65,0
         a 65,65 0 1,1 130,0
         a 65,65 0 1,1 -130,0"
    />
  </defs>
  <text font-size="13.4" fill="black" font-weight="600" font-family="bricolage, sans-serif">
    <textPath href="#textCircle" startOffset="50%" text-anchor="middle">
      Frontend Developer - Joachim - Frontend Developer - Joachim -
    </textPath>
  </text>
</svg>




    </div>
      <div class="header-wrapper">
        <div>
          <span class="section-header-small-text-typo">{{
            "contactMe.headerWords" | translate
          }}</span>
          <div class="header-inner-wrapper">
            <h2 class="section-header-typo">
              {{ "contactMe.header" | translate }}
            </h2>
          </div>
        </div>

        <div>
          <p class="section-text-typo">
            {{ "contactMe.mainTextFirst" | translate }}
          </p>
          <p class="section-text-typo">
            {{ "contactMe.mainTextSecond" | translate }}
          </p>
        </div>

        <img
          class="contact-arrow display-hide-1250px-width"
          src="images/contact-me/contact_arrow.png"
          alt="contact arrow"
        />
      </div>
    </div>
    <div class="right">
      <div class="sticker-wrapper">
      <img src="images/contact-me/contact_sticker.png" alt="logo sticker" />
      <img class="my-logo" src="images/contact-me/meinlogo_black.svg" alt="my logo">
<svg width="160" height="160" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <path
      id="textCircle"
      d="M 80,80 m -68,0
         a 68,68 0 1,1 136,0
         a 68,68 0 1,1 -136,0"
    />
  </defs>
  <text font-size="14" fill="black" font-weight="600" font-family="bricolage, sans-serif">
    <textPath href="#textCircle" startOffset="50%" text-anchor="middle">
      Joachim - Frontend Developer - Joachim - Frontend Developer -
    </textPath>
  </text>
</svg>
</div>
<app-contact-me-form></app-contact-me-form>
    </div>
  </section>
  <app-footer></app-footer>
</div>

