<section class="section-padding inner-section-two-col">


  <div class="left">
    <div class="header-wrapper">
      <span class="section-header-small-text-typo">{{
        "contactMe.headerWords" | translate
      }}</span>
      <div class="header-inner-wrapper">
        <h2 class="section-header-typo">{{ "contactMe.header" | translate }}</h2>
        <img src="images/projects/header_line.svg" alt="underline" />
      </div>
      <p class="section-text-typo">{{
        "contactMe.mainTextFirst" | translate
      }}</p>
      <p class="section-text-typo">{{
        "contactMe.mainTextSecond" | translate
      }}</p>
    </div>
    <img class="contact-arrow" src="images/contact-me/contact-arrow.png" alt="contact arrow">
  </div>


  <div class="right">
    <form action="#">
        
        <input type="text">
    </form>
  </div>


</section>
