@use "typography" as typo;
@use "layout";
@use "colors" as colors;
@use "mixins" as mixins;
@use "visibility";
@use "visuals";

.section-wrapper {
  background-image: url("../../../../public/images/contact-me/contact_bg.png");
  background-size: cover;
  color: colors.$main-white;
}

.header-wrapper {
  @include mixins.flex-spbtw-ctr-row(center, flex-start, column);
  gap: 48px;
}

@keyframes header-line {
  0% {
    clip-path: inset(0 300px 0 0);
  }
  5% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 300px 0 0);
  }
  100% {
    clip-path: inset(0 300px 0 0);
  }
}

.left {
  position: relative;

  > .sticker-wrapper-small {
    position: absolute;
    right: 0;
    top: 0;
    width: 168px;
    height: 168px;
    transform: translateY(-96px);

    @media (max-width: 850px) {
      width: 120px;
      height: 120px;
      position: relative;
       transform: translate(-60px, -50px);
       margin-left: auto;
    }

    > img,
    > svg {
      position: absolute;
      left: 50%;
      top: 50%;
    }

    > .name-sticker-small {
      @media (max-width: 850px) {
        width: 120px;
      }
    }

    .my-logo-small {
      width: 80px;
      transform: rotate(15deg) translate(70%, 30%);

      @media (max-width: 850px) {
        width: 60px;
         transform: rotate(15deg) translate(65%, 25%);
      }
    }

    > svg {
      transform: translate(6px, 4px);

            @media (max-width: 850px) {
        width: 120px;
        transform: translate(1px, -20px);
      }
    }
  }
}

.right {
  // > .sticker-wrapper {
  //   position: relative;
  //   width: 168px;
  //   height: 168px;
  //   margin: 0 0 0 auto;
  //   display: block;
  //   transform: translate(0, -40px);

  //   @media (max-width: 1500px) {
  //     transform: translate(-80px, -40px);
  //   }

  //   @media (max-width: 1250px) {
  //     display: none;
  //   }

  //   > img,
  //   > svg {
  //     position: absolute;
  //     left: 50%;
  //     top: 50%;
  //   }

  //   > svg {
  //     transform: translate(6px, 4px);
  //   }

  //   > .my-logo {
  //     width: 80px;
  //     transform: rotate(15deg) translate(70%, 30%);
  //   }
  // }
}

.inner-section-two-col {
  padding-top: 192px;

  @media (max-width: 1500px) {
    padding-top: 150px;
  }

  @media (max-width: 1350px) {
    padding-top: 130px;
  }

  @media (max-width: 1250px) {
    padding-top: 190px;
  }

  @media (max-width: 600px) {
    padding-top: 170px;
  }
}
