@use "typography" as typo;
@use "layout";
@use "colors" as colors;
@use "mixins" as mixins;
@use "visibility";

section {
  background-image: url("../../../../public/images/contact-me/contact_bg.png");
  background-size: cover;
  color: colors.$main-white;
}

// adjust padding of the whole contact container - responive inkluded.

.contact-arrow {
  display: block;
  margin: 0 0 0 auto;
}

.contact-arrow {
  width: 280px;
  animation: header-line 4s ease-in;
  animation-delay: 800ms;
  animation-iteration-count: infinite;
  clip-path: inset(0 300px 0 0);
}

@keyframes header-line {
  0% {
    clip-path: inset(0 300px 0 0);
  }
  5% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 300px 0 0);
  }
  100% {
    clip-path: inset(0 300px 0 0);
  }
}

.left {
  position: relative;

  > .name-sticker-small {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 120px;
    transform: translateY(-96px);
  }
}

.right {
  > img {
    width: 168px;
    height: 168px;
    margin: 0 0 0 auto;
    display: block;
    transform: translate(0, 40px);

    @media (max-width: 1250px) {
      display: none;
    }
  }
}

form {
  > .input-wrapper {
    padding: 16px 24px;
    transition: all ease-in-out 200ms;

    &:hover {
      cursor: pointer;
    }

    > label {
      cursor: pointer !important;
      @include mixins.flex-spbtw-ctr-row(center, flex-start, column);
      gap: 8px;

      &:hover {
        color: colors.$main-red;
      }

      > input {
        outline: none;
        border: 0;
        cursor: pointer;
        background-color: #00000000;
        @include typo.bricolage-font(18px, 400);
        color: colors.$main-white;
      }

      > input::placeholder {
        @include typo.bricolage-font(18px, 400);
        color: colors.$main-white;
      }
    }
  }

  > .input-wrapper:nth-child(1) {
    border-top: 1px solid #f7c51800;

    &:hover {
      border-top: 1px solid #3355ff;

      ~ .input-wrapper:nth-child(2) {
        border-top: 1px solid #3355ff;
      }
    }
  }

  > .input-wrapper:nth-child(2) {
    border-top: 1px solid #f7c518;

    &:hover {
      border-top: 1px solid #3355ff;

      ~ .input-wrapper:nth-child(3) {
        border-top: 1px solid #3355ff;
      }
    }
  }

  > .input-wrapper:nth-child(3) {
    border-top: 1px solid #f7c518;
    border-bottom: 1px solid #f7c51800;

    &:hover {
      border-top: 1px solid #3355ff;
      border-bottom: 1px solid #3355ff;
    }
  }
}

.input-checkbox-wrapper {
  @include mixins.flex-spbtw-ctr-row(center, flex-start);
  gap: 8px;
}

.privacy-link {
  text-decoration: none;
  color: colors.$main-blue;

  &:hover {
    color: colors.$main-yellow;
  }
}

.input-checkbox-wrapper {
  margin: 16px 0 0 0;
  position: relative;

  > input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    border: solid 2px #3355ff;
    border-radius: 2px;
    margin: 2px;
  }

  > input[type="checkbox"]:checked::after {
    content: "✔";
    position: absolute;
    top: -4px;
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    color: colors.$main-yellow;
    font-size: 20px;
  }
}

.inner-section-two-col {
  padding-top: 192px;

      @media (max-width: 1500px) {
          padding-top: 150px;
    }

    @media (max-width: 1350px) {
        padding-top: 130px;
    }

    @media (max-width: 1250px) {
        padding-top: 190px;
    }

    @media (max-width: 600px) {
        padding-top: 170px;
    }
}