@use "typography" as typo;
@use "layout";
@use "colors" as colors;
@use "mixins" as mixins;
@use "visibility";
@use "visuals";

.section-wrapper {
  background-image: url("../../../../public/images/contact-me/contact_bg.png");
  background-size: cover;
  color: colors.$main-white;
  position: relative;
}

.overlay-mask {
  position: fixed;
  inset: 0;
  z-index: 900;
  background: rgba(9, 14, 46, 0.7);
}

.overlay-wrapper {
  position: relative;
}

.section-padding {
  padding-bottom: 60px;
}

.header-wrapper {
  @include mixins.flex-spbtw-ctr-row(center, flex-start, column);
  gap: 48px;
}

@keyframes header-line {
  0% {
    clip-path: inset(0 300px 0 0);
  }
  5% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 300px 0 0);
  }
  100% {
    clip-path: inset(0 300px 0 0);
  }
}

.left {
  position: relative;
}

.sticker-wrapper {
  position: relative;
  width: 168px;
  height: 168px;
  margin-left: auto;
  transform: translateY(50px);
  z-index: 2;
}

.sticker-wrapper-small {
  width: 120px;
  height: 120px;
  margin-left: auto;
  transform: translateY(50px);

  @media (max-width: 1250px) {
    transform: translateY(35px);
  }

  @media (max-width: 850px) {
    width: 100px;
    height: 100px;
    transform: translateY(25px);
  }
}

.inner-section-two-col {
  padding-top: 192px;

  @media (max-width: 1500px) {
    padding-top: 150px;
  }

  @media (max-width: 1350px) {
    padding-top: 130px;
  }

  @media (max-width: 1250px) {
    padding-top: 90px;
  }
}

.sent-wrapper {
  display: none;
  @include mixins.absolute-ctr();
  transform: translate(-50%, 100dvh);
  transition: transform ease-in-out 0.3s;
  z-index: 950;
}

.open-menu {
  transform: translate(-50%, 30%);
}

.show-menu {
  display: flex;
}
