@use "colors" as colors;
@use "mixins" as mixins;
@use "typography" as typo;
@use "layout";

.background {
  background-color: colors.$main-white;
}

section {
  @media (max-width: 1250px) {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.inner-section-two-col {
  gap: 20px;
}

.section-padding {
  @media (max-width: 1250px) {
    padding-bottom: 110px;
  }
}

.left {
  @include mixins.flex-spbtw-ctr-row(center, flex-end, column);
  max-width: 560px;

  @media (max-width: 1250px) {
    width: 90dvw;
    max-width: none;
    height: 300px;
    margin-top: 2dvw;
  }

  @media (max-width: 850px) {
    height: 300px;
  }

  @media (max-width: 600px) {
    height: 40dvw;
    margin-top: 6dvw;
  }
}

.wrapper {
  position: relative;

  > img {
    width: 100%;
  }
  > .inner-wrapper {
    @include mixins.absolute-ctr();
    @include mixins.flex-spbtw-ctr-row(center);
    gap: 16px;

    > img {
      width: 40px;
      height: 40px;

      @media (max-width: 480px) {
        width: 34px;
        height: 34px;
      }
      @media (max-width: 400px) {
        width: 30px;
        height: 30px;
      }
    }

    > span {
      font-family: bricolage, sans-serif;
      font-size: 24px;
      text-wrap: nowrap;
      color: colors.$main-white;
      font-weight: 400;

      @media (max-width: 850px) {
        font-size: 20px;
      }

      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
  }
}

.wrapper:nth-child(1) {
  z-index: 15;
  align-self: flex-start;
  transform: translate(0, 80px) rotate(-4deg);

  @media (max-width: 1250px) {
    transform: translate(0, 45%);
  }

  > .inner-wrapper {
    transform: rotate(-1deg) translate(-50%, -110%);
  }
}
.wrapper:nth-child(2) {
  z-index: 10;
  align-self: center;
}

.wrapper:nth-child(3) {
  transform: rotate(4deg) translateY(-25%);
  z-index: 5;
  align-self: flex-end;

  > .inner-wrapper {
    transform: rotate(4deg) translate(-50%, -35%);
  }
}

.right {
  max-width: 560px;
  @include mixins.flex-spbtw-ctr-row(space-between, stretch, column);

  > span {
    color: colors.$main-black;
  }

  @media (max-width: 1250px) {
    max-width: none;
    width: 90dvw;
  }

  > .header-wrapper {
    position: relative;

    > h2 {
      margin: 16px 0 0;
      color: colors.$main-black;

      @media (max-width: 850px) {
        font-size: 48px;
      }
    }

    > img {
      width: 300px;
      transform: translate(-6px, -16px);
      animation: header-line 4s ease-in;
      animation-delay: 800ms;
      animation-iteration-count: infinite;
      clip-path: inset(0 310px 0 0);

      @media (max-width: 850px) {
        width: 230px;
        clip-path: inset(0 250px 0 0);
        transform: translate(-6px, -12px);
      }
    }
  }

  > p {
    margin-bottom: 24px;
  }
}

@keyframes header-line {
  0% {
    clip-path: inset(0 300px 0 0);
  }
  5% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 300px 0 0);
  }
  100% {
    clip-path: inset(0 300px 0 0);
  }
}

app-main-button {
  margin-left: auto;
}
