@use "_colors" as colors;
@use "_mixins" as mixins;
@use "_typography" as typo;
@use "_layout";

section {
  background-color: colors.$main-white;

       @media (max-width: 1250px) {
        display: flex !important;
        flex-direction: column-reverse;
        align-items: center;
       }
}

.left {
  height: 400px;
  max-width: 560px;

  @media (max-width: 450px) {
    height: 340px;
  }
}

.wrapper {
  position: relative;

  > img {
    width: 100%;
  }
  > .inner-wrapper {
    @include mixins.absolute-ctr();
    @include mixins.flex-spbtw-ctr-row(center);
    gap: 16px;

    > img {
      width: 40px;
      height: 40px;

      @media (max-width: 480px) {
        width: 34px;
        height: 34px;
      }
      @media (max-width: 400px) {
        width: 30px;
        height: 30px;
      }
    }

    > span {
      font-family: bricolage, sans-serif;
      font-size: 24px;
      text-wrap: nowrap;
      color: colors.$main-white;
      font-weight: 400;

      @media (max-width: 850px) {
        font-size: 20px;
      }

      @media (max-width: 400px) {
        font-size: 16px;
      }
    }
  }
}

.wrapper:nth-child(1) {
  z-index: 1;

  > .inner-wrapper {
    transform: rotate(-4deg) translate(-50%, -110%);
  }
}
.wrapper:nth-child(2) {
  transform: translateY(-65px);
  z-index: 10;

  @media (max-width: 500px) {
    transform: translateY(-45px);
  }

  @media (max-width: 390px) {
    transform: translateY(-35px);
  }
}

.wrapper:nth-child(3) {
  transform: translateY(-130px);
  z-index: 5;

  @media (max-width: 500px) {
    transform: translateY(-90px);
  }
  @media (max-width: 390px) {
    transform: translateY(-70px);
  }

  > .inner-wrapper {
    transform: rotate(4deg) translate(-50%, -50%);
  }
}

.right {
  max-width: 560px;
  @include mixins.flex-spbtw-ctr-row(space-between, stretch, column);
  @media (max-width: 650px) {
    max-width: 560px;
  }

  > .header-wrapper {
    position: relative;

    > h2 {
      margin: 16px 0 36px;
      color: colors.$main-black;

      @media (max-width: 850px) {
        font-size: 48px;
      }
    }

    > img {
      width: 300px;
      @include mixins.absolute-ctr();
      transform: translate(-95%, 16px);
      animation: header-line 4s ease-in;
      animation-delay: 800ms;
      animation-iteration-count: infinite;
      clip-path: inset(0 310px 0 0);

      @media (max-width: 1150px) {
        left: -10px;
        transform: translate(0, 16px);
      }

      @media (max-width: 850px) {
        width: 250px;
        clip-path: inset(0 250px 0 0);
      }
    }
  }

  > p {
    margin-bottom: 24px;
  }
}

@keyframes header-line {
  0% {
    clip-path: inset(0 300px 0 0);
  }
  5% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 300px 0 0);
  }
  100% {
    clip-path: inset(0 300px 0 0);
  }
}

app-main-button {
  margin-left: auto;
}
