@use "mixins" as mixins;
@use "colors" as colors;
@use "typography" as typo;
@use "visibility";
@use "animations" as animations;

.standard-button {
  color: colors.$main-white;
  padding: 12px 0;
  border-radius: 100px;
  height: 40px;
  text-wrap: nowrap;
  @include typo.bricolage-font(18px, 500);
  @include mixins.flex-spbtw-ctr-row(center);
  overflow: hidden;
  position: relative;


  > span {
    @include mixins.absolute-ctr();
  }
}

.hero-button {
  border: solid colors.$main-white 1px;

    &:hover {
    cursor: url('../../../../../../public/images/cursor_portfolio.png'), pointer;
  }
}


.link-button {
  border: none;

      &:hover {
    cursor: url('../../../../../../public/images/cursor_portfolio_hover.png'), pointer !important;
  }
}

.hero-hover {
  @include animations.bounce-animation();
}

.hero-hover-back {
  @include animations.bounce-back-animation();
}

.link-hover {
  @include animations.bounce-animation-footer-link();
}

.link-hover-back {
  @include animations.bounce-back-animation-footer-link();
}

.hero-logo {
  animation: animate-hero-logo-main-back forwards 1s ease;
}

.hero-logo-animate {
  animation: animate-hero-logo-main forwards 1s ease;
}

.link-logo {

  animation: animate-link-logo-main-back forwards 1s ease;
}

.link-logo-animate {
  animation: animate-link-logo-main forwards 1s ease;
}

.hero-wrapper {
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.link-wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 0 4px 0;
  width: 125px;

  > img {
    width: 32px;
    position: absolute;
    object-fit: fill;
    margin-left: 46.5px;
  }
}

.hello-button {
  transition: all 0.3s ease-in-out;
  position: relative;

  > span {
    @include mixins.absolute-ctr();
    z-index: 10;


  }
}

.hello-name-mask {
  @include mixins.absolute-ctr();
  width: 0;
  height: 40px;
  background-color: colors.$main-blue;
  z-index: 5;
  transition: width ease-in-out 0.4s;
  border-radius: 100px;
}

.hello-button-hover {
  width: 100%;
}

.hide-hello-name {
  transition: filter 0.3s ease-in-out;
  filter: opacity(0);
}

.show-hello-name {
  filter: opacity(1);
}
