<section>
  <div class="left">
    <div class="wrapper">
      <img
        src="images/about-me/Ripped-paper-yellow.svg"
        alt="yellow paper background"
      />
      <div class="inner-wrapper">
        <img src="images/about-me/location-icon.svg" alt="loaction logo" />
        <div>Based in Wilhering/Linz</div>
      </div>
    </div>

    <div class="wrapper">
      <img
        src="images/about-me/Ripped-paper-blue.svg"
        alt="blue paper background"
      />
      <div class="inner-wrapper">
        <img src="" alt="" />
        <div>Based in Wilhering/Linz</div>
      </div>
    </div>

    <div class="wrapper">
      <img
        src="images/about-me/Ripped-paper-orange.svg"
        alt="orange paper background"
      />
      <div class="inner-wrapper">
        <img src="" alt="" />
        <div>Based in Wilhering/Linz</div>
      </div>
    </div>
  </div>

  <div class="right">
    <span>WHO'S JOACHIM?</span>
    <div class="header-wrapper">
      <h1>About me</h1>
      <img src="" alt="underline" />
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita, corporis natus excepturi laboriosam id nihil magnam ipsum quod facere cum, recusandae voluptatum? Ea voluptas soluta perferendis voluptatibus, ratione placeat natus?</p>
    <p></p>
</div>
</section>
