<section>

  <div class="left">

    <div class="wrapper">
      <img src="images/about-me/Ripped-paper-yellow.svg" alt="yellow paper background" />
      <div class="inner-wrapper">
        <img src="images/about-me/location-icon.svg" alt="loaction logo" />
        <div>Based in Wilhering/Linz</div>
      </div>
    </div>

      <div class="wrapper">
      <img src="images/about-me/Ripped-paper-blue.svg" alt="blue paper background" />
      <div class="inner-wrapper">
          <img src="" alt="" />
        <div>Based in Wilhering/Linz</div>
      </div>
</div>

      <div class="wrapper">
      <img src="images/about-me/Ripped-paper-orange.svg" alt="orange paper background" />
      <div class="inner-wrapper">
        <img src="" alt="" />
        <div>Based in Wilhering/Linz</div>
      </div>
</div>

  </div>

  <div class="right"></div>

</section>
