@use "../styles/mixins.scss" as mixins;
@use "../styles/colors.scss" as colors;

section {
  @include mixins.flex-spbtw-ctr-row();
  padding: 144px 120px;
  background-color: colors.$main-white;
}

.left {
  height: 400px;
}

.wrapper {
  position: relative;

  > .inner-wrapper {
    @include mixins.absolute-ctr();
    @include mixins.flex-spbtw-ctr-row(center);
    gap: 16px;

    > img {
      width: 40px;
      height: 40px;
    }

    > span {
      font-family: bricolage, sans-serif;
      font-size: 24px;
      text-wrap: nowrap;
      color: colors.$main-white;
      font-weight: 400;
    }
  }
}

.wrapper:nth-child(1) {
  z-index: 1;

  > .inner-wrapper {
    transform: rotate(-4deg) translate(-50%, -110%);
  }
}
.wrapper:nth-child(2) {
  transform: translateY(-65px);
  z-index: 10;
}

.wrapper:nth-child(3) {
  transform: translateY(-130px);
  z-index: 5;

  > .inner-wrapper {
    transform: rotate(4deg) translate(-50%, -50%);
  }
}

.right {
  > span {
    @include mixins.bricolage-font(20px, 500);
  }

  > .header-wrapper {
    position: relative;

    > h1 {
      @include mixins.bricolage-font(64px, 700);
    }

    > img {
      @include mixins.absolute-ctr();
    }
  }

  > p {
    @include mixins.bricolage-font(20px, 400);
  }
}

