@use "../styles/mixins.scss" as mixins;
@use "../styles/colors.scss" as colors;

section {
  @include mixins.flex-spbtw-ctr-row(space-around);
  padding: 144px 120px;
  background-color: colors.$main-white;
  
}

.left {
  height: 400px;
  width: 560px;
}

.wrapper {
  position: relative;

  > .inner-wrapper {
    @include mixins.absolute-ctr();
    @include mixins.flex-spbtw-ctr-row(center);
    gap: 16px;

    > img {
      width: 40px;
      height: 40px;
    }

    > span {
      font-family: bricolage, sans-serif;
      font-size: 24px;
      text-wrap: nowrap;
      color: colors.$main-white;
      font-weight: 400;
    }
  }
}

.wrapper:nth-child(1) {
  z-index: 1;

  > .inner-wrapper {
    transform: rotate(-4deg) translate(-50%, -110%);
  }
}
.wrapper:nth-child(2) {
  transform: translateY(-65px);
  z-index: 10;
}

.wrapper:nth-child(3) {
  transform: translateY(-130px);
  z-index: 5;

  > .inner-wrapper {
    transform: rotate(4deg) translate(-50%, -50%);
  }
}

.right {
  width: 560px;
  @include mixins.flex-spbtw-ctr-row(space-between, stretch, column);

  > span {
    @include mixins.bricolage-font(20px, 500);
  }

  > .header-wrapper {
    position: relative;

    > h1 {
      @include mixins.bricolage-font(64px, 700);
    }

    > img {
        width: 300px;
      @include mixins.absolute-ctr();
      transform: translate(-95%, 30px);
      animation: header-line 4s ease-in;
      animation-delay: 800ms;
      animation-iteration-count: infinite;
        clip-path: inset(0 300px 0 0);  
    }
  }

  > p {
    @include mixins.bricolage-font(20px, 400);
  }
}

@keyframes header-line {
 0% {
    clip-path: inset(0 300px 0 0);   
} 5% {
clip-path: inset(0 0 0 0);
} 80% {
    clip-path: inset(0 0 0 0);
} 90% {
    clip-path: inset(0 300px 0 0);
} 100% {
    clip-path: inset(0 300px 0 0);
}
}

app-get-in-contact-button {
    margin-left: auto;
}