@use "colors" as colors;
@use "mixins" as mixins;
@use "fonts";

section {
  position: relative;
  background-color: colors.$main-white;
  background-image: url("../../../../public/images/skills/skills-wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100dvw;
  padding: 144px 122px 188px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
  color: colors.$main-white;

  @media (max-width: 1550px) {
    padding: 100px 52px 140px;
  }

  @media (max-width: 1150px) {
    padding: 88px 120px 180px;
  }

  @media (max-width: 850px) {
    padding: 88px 52px 100px;
  }

  @media (max-width: 650px) {
    padding: 88px 20px 120px;
  }

  @media (max-width: 550px) {
    padding: 88px 20px 120px;
  }

  @media (max-width: 450px) {
    padding: 20px 20px 60px;
  }
}

.top-wrapper {
  @include mixins.flex-spbtw-ctr-row();
  gap: 48px;

  @media (max-width: 1150px) {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    > .left {
      width: 100%;
      margin: 0 0 0 auto;
    }
  }

  @media (max-width: 850px) {
    width: auto;
  }

  > h2 {
    @include mixins.bricolage-font(64px, 700);
    margin: 16px 0 36px;

    @media (max-width: 850px) {
      font-size: 48px;
    }
  }

  .left,
  .right {
    width: 261px;
  }

  .right {
    @media (max-width: 1250px) {
      display: none;
    }
  }
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  > span {
    @include mixins.bricolage-font(20px, 500);
    margin-left: auto;
  }
}

.header-wrapper {
  > h2 {
    @include mixins.bricolage-font(64px, 700);
    margin: 0;
    text-align: right;
    position: relative;
    z-index: 5;

    @media (max-width: 850px) {
      font-size: 48px;
    }
  }

  > img {
    width: 260px;
    position: absolute;
    right: -10px;
    bottom: 0;
    animation: header-line 4s ease-in;
    animation-delay: 800ms;
    animation-iteration-count: infinite;
    clip-path: inset(0 310px 0 0);

    @media (max-width: 850px) {
      width: 200px;
    }
  }
}

@keyframes header-line {
  0% {
    clip-path: inset(0 300px 0 0);
  }
  5% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 300px 0 0);
  }
  100% {
    clip-path: inset(0 300px 0 0);
  }
}

.middle {
  position: relative;
  width: 656px;

    > img {
    position: relative;
    width: 100%;
    height: 100%;
    @include mixins.absolute-ctr();
  }

  > p {
    position: relative;
    color: colors.$main-black;
    z-index: 1;
    padding: 12px 24px 0;
    text-align: center;
    @include mixins.standard-text();
  }

  @media (max-width: 1150px) {
    max-width: none;
    width: 100%;
    height: 100px;
  }

  @media (max-width: 970px) {
    height: fit-content;
  }

  @media (max-width: 850px) {

    > img {
      height: 212px;
    }
  }


}

.bottom-wrapper {
  @include mixins.flex-spbtw-ctr-row(space-evenly);
  gap: 48px;

  @media (max-width: 1250px) {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 36px;
  }

  @media (max-width: 1150px) {
    flex-direction: column;
  }

  > .outer:nth-child(1) {
    @media (max-width: 1250px) {
      display: none;
    }
  }
}

.logo-wrapper {
  width: 640px;
  display: grid;
  grid-template-columns: repeat(5, 96px);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 40px;
  margin: 48px auto;
  justify-content: flex-end;

  @media (max-width: 1250px) {
    margin: 48px 0;
    width: 100%;
  }

  @media (max-width: 1150px) {
    margin-bottom: 0;
    justify-content: space-evenly;
  }

  @media (max-width: 850px) {
    grid-template-columns: repeat(3, 96px);
    margin: 48px auto 0;
  }

  @media (max-width: 400px) {
    column-gap: 20px;
    justify-content: center;
  }
}

.outer {
  width: 200px;
  height: 200px;
  transform: rotate(8deg);

  @media (max-width: 1250px) {
    margin-left: 40px;
  }

  @media (max-width: 850px) {
    margin-left: 0;
    transform: translate(50px, -140px) rotate(8deg);
  }
}
