@use "colors" as colors;
@use "mixins" as mixins;
@use "typography" as typo;
@use "fonts";
@use "layout";

section {
  position: relative;
  background-color: colors.$main-white;
  background-image: url("../../../../public/images/skills/skills-wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: colors.$main-white;
}

.section-padding {
  padding-bottom: 160px;
}

.top-wrapper {
  position: relative;
  @include mixins.flex-spbtw-ctr-row();
  gap: 48px;

  @media (max-width: 1250px) {
    flex-direction: column;
    width: 560px;
    margin: 0 auto;

    > .left {
      width: 100%;
      margin: 0 0 0 auto;
    }

    @media (max-width: 600px) {
      width: auto;
    }
  }

  .left,
  .right {
    width: 261px;
  }

  .right {
    @media (max-width: 1250px) {
      display: none;
    }
  }
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  > span {
    margin-left: auto;
  }
}

.header-wrapper {
  overflow: hidden;
  height: 77px;
  position: relative;

  @media (max-width: 850px) {
    height: 57px;
  }

  > h2 {
    margin: 0 8px 0 0;
    text-align: right;
    position: relative;
    z-index: 5;
    color: colors.$main-white;
  }

  > img {
    width: 260px;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: header-line 4s ease-in;
    animation-delay: 800ms;
    animation-iteration-count: infinite;
    transform-origin: right bottom;

    @media (max-width: 850px) {
      width: 200px;
    }
  }
}

@keyframes header-line {
  0% {
    transform: rotate(-110deg);
  }
  3% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  84% {
    transform: rotate(-110deg);
  }
  100% {
    transform: rotate(-110deg);
  }
}

.middle {
  position: relative;
  width: 560px;

  > img {
    position: relative;
    width: 100%;
    height: 100%;
    @include mixins.absolute-ctr();
  }

  > p {
    position: relative;
    color: colors.$main-black;
    z-index: 1;
    padding: 12px 24px 0;
    text-align: center;
  }

  @media (max-width: 1150px) {
    max-width: none;
    width: 100%;
    height: 100px;
  }

  @media (max-width: 970px) {
    height: fit-content;
  }
}

.bottom-wrapper {
  @include mixins.flex-spbtw-ctr-row(space-evenly);
  gap: 48px;

  @media (max-width: 1250px) {
    flex-direction: column;
    margin-top: 36px;
  }

  > .outer:nth-child(1) {
    @media (max-width: 1250px) {
      display: none;
    }
  }
}

.logo-wrapper {
  width: 640px;
  display: grid;
  grid-template-columns: repeat(5, 96px);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 40px;
  margin: 48px auto;
  justify-content: flex-end;

  @media (max-width: 1250px) {
    margin: 48px 0;
    width: 560px;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  }

  @media (max-width: 1150px) {
    margin-bottom: 0;
    justify-content: space-evenly;
  }

  @media (max-width: 850px) {
    grid-template-columns: repeat(3, 96px);
  }

  @media (max-width: 540px) {
    width: 100%;
    column-gap: 0;
  }
}

.outer {
  width: 200px;
  height: 200px;
  transform: rotate(8deg);

  @media (max-width: 1250px) {
    margin-left: 40px;
    transform: translate(120px, -160px) rotate(8deg);
  }

  @media (max-width: 850px) {
    margin-left: 0;
    transform: translate(50px, -140px) rotate(8deg);
  }
}
