<h3>Information Obligation Statement</h3>
<br />
<p><strong>Privacy Policy</strong></p>
<p>
  In the following privacy policy, we inform you about the most important aspects of data processing on our website. We collect and process personal data only on the basis of the legal provisions (General Data Protection Regulation, Telecommunications Act 2003).
</p>
<p>
  As soon as you, as a user, access or visit our website, your IP address, the beginning, and the end of the session are recorded. This is technically necessary and therefore constitutes a legitimate interest pursuant to Art 6 para 1 lit f GDPR.
</p>
<h5>Contacting Us</h5>
<p></p>
<p>
  If you contact us either via our contact form on our website or by email, the data you provide to us will be stored by us for six months for the purpose of processing your inquiry or in case of follow-up questions. Your data will not be passed on without your consent.
</p>
<h5>Cookies</h5>
<p>
  Our website uses so-called cookies. These are small text files that are stored on your device with the help of the browser. They do no harm. We use cookies to make our offer user-friendly. Some cookies remain stored on your device until you delete them. They allow us to recognize your browser the next time you visit. If you do not wish this, you can set up your browser so that it informs you about the setting of cookies and you only allow this in individual cases. If cookies are deactivated, the functionality of our website may be limited.
</p>
<h5>Server Log Files</h5>
<p>
  This website and the associated provider automatically collect information in the course of website use within the framework of so-called "server log files." This particularly includes:
</p>
<ul>
  <li>IP address or hostname</li>
  <li>the browser used</li>
  <li>duration of stay on the website as well as date and time</li>
  <li>accessed pages of the website</li>
  <li>language settings and operating system</li>
  <li>
    "Leaving page" (which URL the user left the website from)
  </li>
  <li>ISP (Internet Service Provider)</li>
</ul>
<p>
  This collected information is not processed personally or linked with personal data.
</p>
<p>
  The website operator reserves the right to evaluate or check this data in the event of becoming aware of unlawful activities.
</p>
<h5>Your Rights as a Data Subject</h5>
<p>
  You, as the data subject, have the following rights concerning your data stored with us:
</p>
<ul>
  <li>Access</li>
  <li>Deletion of data</li>
  <li>Correction of data</li>
  <li>Data portability</li>
  <li>Revocation and objection to data processing</li>
  <li>Restriction</li>
</ul>
<p>
  If you suspect that there have been violations of data protection laws in the processing of your data, you have the option to complain to us (contact&#64;PuercherJoachim.com) or to the data protection authority.
</p>
<h5>You can reach us at the following contact details:</h5>
<p>
  <b>Website Operator:</b> Joachim Pürcher<br />
  <b>Phone number:</b> +43 676 770 41 99<br />
  <b>Email:</b> contact&#64;PuercherJoachim.com
</p>
<p>
  Source:
  <b
    ><a
      href="https://www.fairesrecht.at/kostenlos-datenschutzerklaerung-erstellen-generator.php"
      >Datenschutzgenerator Österreich DSGVO</a
    ></b
  >
</p>
