<section>
  <app-header></app-header>
  <div class="main-wrapper">
    <div class="roll-out-wrapper">
      <app-roll-out-button
        [translatePathNormal]="'hero.hello'"
        [translatePathHover]="'hero.helloHover'"
        [imgPath]="'images/hero-section/waving_hand.svg'"
        [linkHref]="'#about-me-section'"
        [buttonType]="'hero'"
        [animateType]="'hero'"
      >
      </app-roll-out-button>
    </div>
    <div class="main-text-wrapper">
      <div class="frontend-wrapper">
        
          <span class="single-letter upper-lower-letter">
            {{ "hero.mainSingle.frontendFirst" | translate }}
          </span>
          @for (letter of 'hero.mainSingle.frontendLast' | translate; track
          $index) {
          <span class="single-letter lower-upper-letter">{{ letter }}</span>
          }
       
        <div
          (mouseenter)="profilHovered = true"
          (mouseleave)="profilHovered = false"
          class="pic-wrapper display-hide-550-width"
        >
          <img src="images/hero-section/pic-hero.png" alt="profil picture" />
          <span
            >Joachim @if (profilHovered === !true) {
            <span>:&#41;</span>
            } @else {
            <span>:D</span>
            }</span
          >
        </div>
      </div>
      <div class="dev-wrapper">
        @for (letter of 'hero.mainSingle.developer' | translate; track $index) {
        <span class="single-letter upper-lower-letter">{{ letter }}</span>
        }
      </div>
    </div>

    <app-main-button
      [translateText]="'hero.touch'"
      [color]="'light-button'"
      [linkHref]="'#contact-me-section'"
    ></app-main-button>
  </div>
  <div
    (mouseenter)="profilHovered = true"
    (mouseleave)="profilHovered = false"
    class="pic-wrapper display-flex-mobile550-width"
  >
    <img src="images/hero-section/pic-hero.png" alt="profil picture" />
    <span
      >Joachim @if (profilHovered === !true) {
      <span>:&#41;</span>
      } @else {
      <span>:D</span>
      }</span
    >
  </div>
  <div class="social-links">
    @for (link of socialLinkService.socialLinks; track $index) {
    <app-circle-link
      [linkHref]="link.linkHref"
      [imgPath]="link.imgPath"
      [imgAltText]="link.imgAltText"
    ></app-circle-link>
    }
  </div>
</section>
