<section>
  <app-header></app-header>
  <div class="main-wrapper">
    <div class="roll-out-wrapper">
      <app-roll-out-button
        [translatePathNormal]="'hero.hello'"
        [translatePathHover]="'hero.helloHover'"
        [imgPath]="'public/images/hero-section/waving_hand.svg'"
      >
      </app-roll-out-button>
    </div>
    <div class="main-text-wrapper">
      <div class="frontend-wrapper">
        <div>
          @for (letter of mainFirstText$; track $index; let letterIndex =
          $index) {
          <span
            (mousemove)="hoveredLetterFirst = letterIndex"
            (mouseleave)="hoveredLetterFirst = null"
            class="single-letter"
            >{{
              hoveredLetterFirst === letterIndex
                ? mainFirstHover$[letterIndex]
                : letter
            }}</span
          >
          }
        </div>
        <div
          (mouseenter)="profilHovered = true"
          (mouseleave)="profilHovered = false"
          class="pic-wrapper"
        >
          <img src="images/hero-section/placeholder.jpg" alt="profil picture" />
          <span
            >Joachim @if (profilHovered === !true) {
            <span>:&#41;</span>
            } @else {
            <span>:D</span>
            }</span
          >
        </div>
      </div>
      <div class="dev-wrapper">
        @for (letter of mainSecondText$; track $index; let letterIndex = $index)
        {
        <span
          (mouseenter)="hoveredLetterSecond = letterIndex"
          (mouseleave)="hoveredLetterSecond = null"
          class="single-letter"
          >{{
            hoveredLetterSecond === letterIndex
              ? mainSecondHover$[letterIndex]
              : letter
          }}</span
        >
        }
      </div>
    </div>
    <app-main-button
      [translateText]="'hero.touch'"
      [color]="'light-button'"
      [linkPath]="'#'"
    ></app-main-button>
  </div>
  <div class="social-links">
    @for (link of linkService.circleLinks; track $index) {
    <app-circle-link
      [linkHref]="link.linkHref"
      [imgPath]="link.imgPath"
      [imgAltText]="link.imgAltText"
    ></app-circle-link>
    }
  </div>
</section>
