@use "colors" as colors;
@use "mixins" as mixins;
@use "typography" as typo;
@use "fonts";
@use "animations" as animations;
@use "visibility";

section {
  position: relative;
  background-color: colors.$main-white;
  background-image: url("../../../../public/images/hero-section/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100dvw;
  height: 100dvh;
  max-height: 1500px;
}

.main-wrapper {
  @include mixins.flex-spbtw-ctr-row(space-between, center, column);
  width: 80vw;
  max-width: 800px;
  height: 50dvh;
  margin: 10dvh auto;
  max-height: 1200px;

  @media (min-height: 2000px) {
    margin: auto;
  }

  @media (max-width: 850px) {
    margin: 5dvh auto;
  }

  @media (min-width: 850px) and (max-height: 800px) {
    height: 60%;
    margin: 40px auto;
  }

  @media (min-width: 850px) and (max-height: 800px) {
    height: 60%;
    margin: 0 auto;
  }

  @media (min-width: 720px) and (max-width: 850px) and (max-height: 900px) {
    margin: 0 auto 0;
  }

  @media (max-width: 850px) and (max-height: 600px) {
    margin: 10dvh auto;
  }

  @media (max-width: 550px) and (max-height: 650px) {
    margin: 2dvh auto;
  }

  @media (max-width: 550px) {
    height: 45dvh;
  }

  @media (max-width: 480px) {
    width: 95%;
  }

  @media (max-width: 430px) {
    width: 95dvw;
  }
}

.roll-out-wrapper {
  align-self: flex-start;

  > div {
    position: relative;
    overflow: hidden;
  }
}

.single-letter {
  @include typo.bricolage-font(128px, 700);
  position: relative;
  color: colors.$main-white;

  @media (max-width: 900px) {
    font-size: 112px;
  }

  @media (max-width: 720px) {
    font-size: 64px;
  }

  @media (max-width: 420px) {
    font-size: 48px;
  }

  @media (min-width: 850px) and (max-height: 600px) {
    font-size: 15vh;
  }

  @media (min-width: 720px) and (max-width: 850px) and (max-height: 900px) {
    font-size: 64px;
  }

  &:hover {
    color: colors.$main-yellow;
    cursor: default;
  }
}

.letter-hover-wrapper {
  position: relative;
  display: inline-block;

  > span {
    &:hover {
      cursor: default;
    }
  }  
}

.hover-letter-first {
  color: #00000000;
}

.hover-letter-third {
      @include mixins.absolute-ctr();
    color: colors.$main-white;

    &:hover {
      color: colors.$main-yellow;
    }
}

.hover-letter-second {
      @include mixins.absolute-ctr();
    color: colors.$main-white;
    transform: translate(5px, 5px);
    animation: scale-single-letter-down ease 700ms forwards;

    &:hover {
      color: colors.$main-yellow;
      
    }
}

.hover-letter-third-animate {
      color: colors.$main-yellow;
      animation: scale-single-letter-up ease 800ms forwards;
    }

    .yellow-letter {
      color: colors.$main-yellow !important;
    }

@keyframes scale-single-letter-up {
  0%{
    color: colors.$main-blue;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
    text-transform: lowercase;
  }
  30%{
    color: colors.$main-blue;
    transform: scale(0.7) translate(-30%, -40%);
    opacity: 1;
    text-transform: lowercase;
  }
  40%{
    color: colors.$main-blue;
    transform: scale(0.7) translate(-30%, -40%);
    opacity: 1;
    text-transform: lowercase;
  }
  99% {
    color: colors.$main-blue;
    transform: scale(2) translate(-25%, -25%);
    opacity: 0;
     text-transform: lowercase;
  }
  100% {
    color: colors.$main-blue;
    transform: scale(1) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes scale-single-letter-down {
  0%{
    color: colors.$main-blue;
   transform: scale(1) translate(-50%, -50%);
    opacity: 0;
  }
  1%{
    color: colors.$main-blue;
   transform: scale(2) translate(-25%, -25%);
    opacity: 0;
  }
  100% {
    color: colors.$main-white;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

// .lower-upper-letter {
//   transition: all 50ms ease-in-out;

//   &:hover {
//   text-transform: uppercase;
//   }
// }

// .upper-lower-letter {
//   transition: all 500ms ease-in-out;
  

//   &:hover {
//   text-transform: lowercase;
//   }
// }

.main-text-wrapper {
  width: 100%;

  @media (max-width: 850px) {
    margin: 24px 0;
  }
}

.frontend-wrapper {
  @include mixins.flex-spbtw-ctr-row();
  margin-right: auto;
  height: 154px;

  @media (max-width: 850px) {
    height: 77px;
  }

  @media (max-width: 420px) {
    height: 58px;
  }

  @media (max-height: 550px) {
    height: 58px;
  }

  > span {
    position: relative;
  }
}

.pic-wrapper {
  width: 200px;
  height: 240px;
  @include mixins.flex-spbtw-ctr-row(center, center, column);
  padding: 10px 10px 4px;
  background-color: colors.$main-white;
  font-family: kalam-700, sans-serif;
  font-weight: 600;
  font-size: clamp(16px, 4vh, 24px);
  transform: rotate(8deg) translateY(-60px);

  @media (max-width: 850px) {
    transform: rotate(8deg) translateY(-60px) scale(0.8);
  }

  @media (max-height: 900px) and (max-width: 850px) {
  }

  @media (min-width: 850px) and (max-height: 600px) {
  }

  @media (max-height: 750px) {
    transform: rotate(8deg) translateY(-60px) scale(0.8);
  }

  @media (max-height: 550px) {
    transform: rotate(8deg) translateY(-60px) scale(0.6);
  }

  @media (max-height: 400px) {
    transform: rotate(8deg) translateY(-40px) scale(0.5);
  }

  &:hover > img {
    @include animations.grey-to-color();
  }

  &:not(:hover) > img {
    @include animations.color-to-grey();
  }

  &:hover > span {
    @include animations.text-bouncing();
  }

  &:not(:hover) > span {
    @include animations.text-bouncing-back();
  }

  > img {
    filter: grayscale(1);
    width: 176px;
    height: 176px;
    margin-bottom: 6px;
  }
}

.dev-wrapper {
  justify-self: flex-end;

  @media (max-width: 850px) {
    height: 77px;
  }

  @media (max-width: 370px) {
    height: 58px;
  }
}

.social-links {
  @include mixins.flex-spbtw-ctr-row(center, center, column);
  position: absolute;
  left: 72px;
  bottom: 12vh;
  gap: 8px;

      @media (min-width: 2000px) {
        left: 20dvw;
    }

  @media (max-width: 850px) {
    display: none;
  }

  @media (min-width: 850px) and (max-height: 600px) {
    flex-direction: row;
  }
}

app-main-button {
  margin-left: auto;
}
