



section {
    background-color: #1D1D1D;
    height: 100dvh;
  background-image: url("../../../../../public/images/projects/project-details/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}