<section>
  <app-header [linkColor]="['black', 'black', 'white', 'white']"></app-header>
  <div class="main">
    <div (click)="projectService.prevProject()" class="back-wrapper">
      <img
        src="images/projects/project-details/back-arrow.svg"
        alt="back arrow"
      /><span class="project-detail-button">{{
        "projects.projectDetails.backButton" | translate
      }}</span>
    </div>
    <div class="middle">
        <div class="left-content">
        <app-left-content></app-left-content>
        </div>
      <div class="right-content">
        <app-right-content></app-right-content>
      </div>
    </div>

    <div (click)="projectService.nextProject()" class="next-wrapper">
      <span class="project-detail-button">{{
        "projects.projectDetails.nextButton" | translate
      }}</span>
      <img
        src="images/projects/project-details/next-arrow.svg"
        alt="nex arrow"
      />
    </div>
  </div>
</section>
