@use "layout";
@use "mixins" as mixins;
@use "typography";
@use "colors" as colors;
@use "visibility";

.background-workaround {
  width: 100dvw;
  height: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
}

.background {
  background-image: url("../../../../../public/images/projects/project-details/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: #1d1d1d;

  @media (max-width: 1250px) {
    background-image: url("../../../../../public/images/projects/project-details/background-rotate.png");
    background-position: 50% -40px;
  }

  @media (max-width: 900px) {
    background-size: 130%;
  }

  @media (max-width: 650px) {
    background-size: 190%;
  }

  @media (max-width: 500px) {
    background-size: 240%;
  }

  @media (max-width: 420px) {
    background-size: 320%;
  }

  @media (max-width: 340px) {
    background-size: 380%;
  }
}

section {
  min-height: 100dvh;
}

.section-padding {
  padding: 60px 40px;

  @media (max-width: 1250px) {
    padding: 40px;
  }

  @media (max-width: 850px) {
    padding: 16px;
  }
}

.desktop-header-wrapper {
  padding: 0 40px;
  

}

.mobile-header-wrapper {
  padding: 0;

    @media (max-width: 1250px) {
    padding: 0 72px;
  }

    @media (max-width: 850px) {
    padding: 0 16px;
  }
}

.main {
  @include mixins.flex-spbtw-ctr-row(flex-start);
  flex-direction: column;

  @media (max-width: 1250px) {
    height: auto;
  }
}

.back-wrapper {
  margin: 0 auto 0 0;
  color: colors.$main-black;

      &:hover {
      color: colors.$main-red !important;
      cursor: url("../../../../../public/images/cursor_portfolio_hover_blue.png"),
        pointer;
    }

  @media (max-width: 1250px) {
    margin: 0;
  }

  @media (max-height: 750px) {
    margin: 0 auto auto 0;
  }
}

.back-wrapper,
.next-wrapper {
  @include mixins.flex-spbtw-ctr-row(center, center);
  gap: 8px;
  width: fit-content;
}

.mobile-back-next-wrapper {
  margin: auto 0 0 auto;

  @media (max-width: 1250px) {
    @include mixins.flex-spbtw-ctr-row();
    padding: 24px 32px;
    width: 100%;
    margin: 0;
  }

  @media (max-width: 850px) {
    padding: 24px 0;
  }

  @media (max-width: 650px) {
    width: 100%;

    margin: 0;
  }

  > div > span:nth-child(1) {
    color: colors.$main-white;
    &:hover {
      color: colors.$main-yellow;
      cursor: url("../../../../../public/images/cursor_portfolio_hover_blue.png"),
        pointer;
    }
  }

  > div > span:nth-child(2) {
    color: colors.$main-white;
    &:hover {
      color: colors.$main-red;
      cursor: url("../../../../../public/images/cursor_portfolio_hover_blue.png"),
        pointer;
    }
  }
}

.middle {
  @include mixins.flex-spbtw-ctr-row(space-around);
  width: 100%;
  padding: 40px 40px 60px;

  @media (max-width: 1250px) {
    flex-direction: column;
    gap: 48px;
    margin: 0;
    padding: 40px 32px 60px;
  }

  @media (max-width: 850px) {
    padding: 16px 0;
  }

  > .left-content {
    min-width: 488px;
    max-width: 488px;

    @media (max-width: 1250px) {
      min-width: 0;
      max-width: none;
    }
  }

  > .right-content {
    position: relative;
    min-width: 560px;
    max-width: 560px;
    z-index: 100;

    @media (max-width: 1250px) {
      min-width: 0;
      max-width: none;
    }
  }
}

.right-content {
  align-self: flex-end;
}
