.logo-wrapper {
  width: 60px;
  height: 100%;
  display: block;

  @media (max-width: 850px) {
    width: 50px;
  }

  svg {
    width: 100%;
    height: auto;
    display: block;

    > g > path {
      fill: #3355ff !important;
      transition: fill ease-in-out 225ms;
    }
  }

  &:hover {
    svg > g > path {
      fill: #f7c518 !important;
    }
  }
}
