@use "colors" as colors;
@use "mixins" as mixins;
@use "typography" as typo;
@use "layout";

section {
    background-color: colors.$main-white;
}

.section-header-typo {
    margin: 16px 0 0 0;
    color: colors.$main-black;
    text-wrap: nowrap;
    @include mixins.flex-spbtw-ctr-row(flex-end);
    text-wrap: wrap;
}

.header-wrapper {
    text-align: right;
}


.img-wrapper {
  position: relative;

  > img {
    width: 100px;
    transform: translateY(20px);
    animation: header-line 4s ease-in;
    animation-delay: 800ms;
    animation-iteration-count: infinite;
    clip-path: inset(0 0 0 100px);
    margin-right: 16px;
  }
}

@keyframes header-line {
  0% {
    clip-path: inset(0 0 0 100px);
  }
  3% {
    clip-path: inset(0 0 0 0);
  }
  84% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 0 0 100px);
  }
  100% {
    clip-path: inset(0 0 0 100px);
  }
}

.whole-sticker-container {
  position: relative;
  padding-top: 0;

  

  @media (pointer: coarse) or (max-width: 520px) {
    @include mixins.flex-spbtw-ctr-row(center, center, column);

    @media (max-width: 1200px) {
      // @include mixins.flex-spbtw-ctr-row(center, center, column);
      gap: 0px;

      @media(max-width: 510px) {

      }

      > div {
        position: static !important;
      }

      > div:nth-child(1) {
        transform: rotate(-4deg) translate(0, 0) !important;
      }
      > div:nth-child(2) {
transform: translate(0, 0) !important;
      }
      > div:nth-child(3) {
transform: rotate(4deg) translate(0, 0) !important;
      }
    }
  }

  > div {
    position: relative;
    filter: brightness(0.95);
  }


  > div:nth-child(1){
    transform: rotate(-4deg);
    z-index: 3;

            &:hover {
      z-index: 4;
      filter: brightness(1.05);
    }
  }
  > div:nth-child(2){
    @include mixins.absolute-ctr();
    z-index: 2;

        &:hover {
      z-index: 4;
      filter: brightness(1.05);
    }
  }

  > div:nth-child(3){
        transform: rotate(4deg);
    justify-self: flex-end;
    z-index: 1;

        &:hover {
      z-index: 4;
      filter: brightness(1.05);
    }
  }
}