<section class="section-padding inner-section-two-col">
  <div></div>

  <div class="header-wrapper">
    <div class="img-wrapper">
      <img src="images/thoughts/blue_arrow.svg" alt="underline" />
      <span class="section-header-small-text-typo">{{
        "thoughts.words" | translate
      }}</span>
    </div>
    <h2 class="section-header-typo">{{ "thoughts.header" | translate }}</h2>
  </div>
</section>
<section class="section-padding inner-section-two-col whole-sticker-container">
  <div class="sticker-section">
    <app-comment-sticker
    [bgImgPath]="'images/thoughts/sticker_bg.png'"
    [hoverImgPath]="'images/thoughts/sticker_lines.png'"
    [commentPath]="'thoughts.colleagues.first.comment'"
    [namePath]="'thoughts.colleagues.first.name'"
    [profileLink]="'thoughts.colleagues.first.link'"></app-comment-sticker>
  </div>
  <div class="sticker-section">
    <app-comment-sticker
    [bgImgPath]="'images/thoughts/sticker_bg_2.png'"
    [hoverImgPath]="'images/thoughts/sticker_lines_2.png'"
    [commentPath]="'thoughts.colleagues.second.comment'"
    [namePath]="'thoughts.colleagues.second.name'"
    [profileLink]="'thoughts.colleagues.second.link'"></app-comment-sticker>
  </div>
  <div class="sticker-section">
    <app-comment-sticker
    [bgImgPath]="'images/thoughts/sticker_bg_3.png'"
    [hoverImgPath]="'images/thoughts/sticker_lines.png'"
    [commentPath]="'thoughts.colleagues.third.comment'"
    [namePath]="'thoughts.colleagues.third.name'"
    [profileLink]="'thoughts.colleagues.third.link'"></app-comment-sticker>
  </div>

</section>