<div class="background">
  <section class="section-padding inner-section-two-col max-content-width">
    <div class="header-wrapper" data-aos="fade-right">
      <span class="section-header-small-text-typo">{{
        "projects.craft" | translate
      }}</span>
      <div class="header-inner-wrapper">
        <h2 class="section-header-typo">{{ "projects.header" | translate }}</h2>
        <img src="images/projects/header_line.svg" alt="underline" />
      </div>
      <span class="section-text-typo header-text">{{
        "projects.text" | translate
      }}</span>
    </div>

    <div class="placeholder"></div>

    <div class="project-wrapper" data-aos="fade-right">
      <app-project-overview
        [imgPath]="'images/projects/Laptop.png'"
        [imgAltText]="'join laptop'"
        [translateHeaderPath]="'projects.projectDetails.join.header'"
        [translateTextPath]="'projects.projectDetails.join.descText'"
        [animate]="true"
      >
        <app-project-link-button
          [projPos]="'0'"
          class="display-none-touch-device display-hide-768px-width"
          [translateText]="'projects.buttonText'"
          [color]="'light-button'"
          [linkHref]="'project-details'"
        ></app-project-link-button>
      </app-project-overview>
      <div
        class="display-block-touch-device display-block-768px-width touch-button"
      >
        <app-project-link-button
          [projPos]="'0'"
          [translateText]="'projects.buttonText'"
          [color]="'dark-button'"
          [linkHref]="'project-details'"
        ></app-project-link-button>
      </div>
      <img src="images/projects/Sticker.png" alt="featured project sticker" data-aos="fade" data-aos-delay="400" />
    </div>
    <div class="project-wrapper" data-aos="fade-left">
      <app-project-overview
        [imgPath]="'images/projects/Pollo.png'"
        [imgAltText]="'el pollo loco pepe'"
        [translateHeaderPath]="'projects.projectDetails.elpolloloco.header'"
        [translateTextPath]="'projects.projectDetails.elpolloloco.descText'"
        [animate]="false"
      >
        <app-project-link-button
          [projPos]="'1'"
          class="display-none-touch-device display-hide-768px-width"
          [translateText]="'projects.buttonText'"
          [color]="'light-button'"
          [linkHref]="'project-details'"
        ></app-project-link-button>
      </app-project-overview>
      <div
        class="display-block-touch-device display-block-768px-width touch-button"
      >
        <app-project-link-button
          [projPos]="'1'"
          [translateText]="'projects.buttonText'"
          [color]="'dark-button'"
          [linkHref]="'project-details'"
        ></app-project-link-button>
      </div>
    </div>
  </section>
</div>
