@use "colors" as colors;
@use "mixins" as mixins;
@use "typography" as typo;
@use "layout";
@use "visibility";

.background {
  background-color: colors.$main-white;

  @media (max-width: 620px) {
    grid-template-columns: 100% !important;
  }
}

.max-content {
  max-width: 1920px;
  margin: 0 auto;
}

.section-padding {
  @media (max-width: 1250px) {
    padding-bottom: 0;
  }
}

h2 {
  margin: 0;
  color: colors.$main-black;
}

.header-wrapper {
  @include mixins.flex-spbtw-ctr-row(center, flex-start, column);
  gap: 16px;

  > span {
    color: colors.$main-black;
  }
}

.header-text {
  margin: 32px 0 48px;

  @media (max-width: 1250px) {
    margin: 26px 0 0;
  }
}

.placeholder {
  @media (max-width: 1250px) {
    display: none;
  }
}

.header-inner-wrapper {
  position: relative;

  > img {
    width: 280px;
    @include mixins.absolute-ctr();
    transform: translate(-50%, 26px);
    animation: header-line 4s ease-in;
    animation-delay: 800ms;
    animation-iteration-count: infinite;
    clip-path: inset(0 300px 0 0);
  }
}

@keyframes header-line {
  0% {
    clip-path: inset(0 300px 0 0);
  }
  5% {
    clip-path: inset(0 0 0 0);
  }
  80% {
    clip-path: inset(0 0 0 0);
  }
  90% {
    clip-path: inset(0 300px 0 0);
  }
  100% {
    clip-path: inset(0 300px 0 0);
  }
}

.project-wrapper {
  position: relative;
  z-index: 1;

  > img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 168px;
    height: 168px;
    z-index: 15;

    @media (max-width: 850px) {
      width: 120px;
      height: 120px;
      top: 35%;
    }

    @media (max-width: 500px) {
      width: 100px;
      height: 100px;
    }

    @media (max-width: 400px) {
      top: 25%;
      width: 100px;
      height: 100px;
    }
  }
}

.touch-button {
  width: fit-content;
  margin: 32px 0 0 auto;
}
