<section class="section-padding inner-section-two-col">
  <div class="header-wrapper">
    <span class="section-header-small-text-typo">{{
      "projects.craft" | translate
    }}</span>
    <div class="header-inner-wrapper">
      <h2 class="section-header-typo">{{ "projects.header" | translate }}</h2>
      <img src="images/about-me/header-underline.svg" alt="underline" />
    </div>
  </div>

 
  <div></div>
    
    <app-project
    [imgPath]="'images/projects/Laptop.png'"
    [imgAltText]="'join laptop'"
    [translateHeaderPath]="'projects.projects.join.header'"
    [translateTextPath]="'projects.projects.join.text'">
  </app-project>
  
  <app-project
  [imgPath]="'images/projects/el_pollo_loco.png'"
  [imgAltText]="'el pollo loco pepe'"
  [translateHeaderPath]="'projects.projects.elpolloloco.header'"
  [translateTextPath]="'projects.projects.elpolloloco.text'">
</app-project>



</section>
