<section class="section-padding inner-section-two-col">
  <div class="header-wrapper">
    <span class="section-header-small-text-typo">{{
      "projects.craft" | translate
    }}</span>
    <div class="header-inner-wrapper">
      <h2 class="section-header-typo">{{ "projects.header" | translate }}</h2>
      <img src="images/projects/header_line.svg" alt="underline" />
    </div>
    <span class="section-text-typo header-text">{{
      "projects.text" | translate
    }}</span>
  </div>

  <div class="placeholder"></div>

  <div class="project-wrapper">
    <app-project
      [imgPath]="'images/projects/Laptop.png'"
      [imgAltText]="'join laptop'"
      [translateHeaderPath]="'projects.projectDetails.join.header'"
      [translateTextPath]="'projects.projectDetails.join.descText'"
      [animate]="true"
    >
      <app-main-button
        class="display-none-touch-device display-hide-768px-width"
        [translateText]="'projects.buttonText'"
        [color]="'light-button'"
        [linkHref]="'#'"
      ></app-main-button>
    </app-project>
    <div class="display-block-touch-device display-block-768px-width touch-button">
      <app-main-button
        [translateText]="'projects.buttonText'"
        [color]="'dark-button'"
        [linkHref]="'#'"
      ></app-main-button>
    </div>
    <img src="images/projects/Sticker.png" alt="featured project sticker" />
  </div>

  <div class="project-wrapper">
    <app-project
      [imgPath]="'images/projects/Pollo.png'"
      [imgAltText]="'el pollo loco pepe'"
      [translateHeaderPath]="'projects.projectDetails.elpolloloco.header'"
      [translateTextPath]="'projects.projectDetails.elpolloloco.descText'"
      [animate]="false"
    >
      <app-main-button
        class="display-none-touch-device display-hide-768px-width"
        [translateText]="'projects.buttonText'"
        [color]="'light-button'"
        [linkHref]="'#'"
      ></app-main-button>
    </app-project>
    <div class="display-block-touch-device display-block-768px-width touch-button">
      <app-main-button
        [translateText]="'projects.buttonText'"
        [color]="'dark-button'"
        [linkHref]="'#'"
      ></app-main-button>
    </div>
  </div>
</section>
