<div class="left-content">
  <div class="header-wrapper">
    <h2 class="section-header-typo">
      {{ `projects.projectDetails.${projectService.projectArr[projectService.projectPos]}.header` | translate }}
    </h2>
    <img
      src="images/projects/project-details/blue_line.png"
      alt="project underline"
    />
  </div>
  <div class="main-text-wrapper">
    <div class="inner-text-wrapper">
      <h4 class="h4-header-typo">
        {{ `projects.projectDetails.${projectService.projectArr[projectService.projectPos]}.descHeader` | translate }}
      </h4>
      <span class="h4-text-typo">{{
        `projects.projectDetails.${projectService.projectArr[projectService.projectPos]}.descText` | translate
      }}</span>
    </div>
    <div class="inner-text-wrapper">
      <h4 class="h4-header-typo">
        {{ `projects.projectDetails.${projectService.projectArr[projectService.projectPos]}.implementHeader` | translate }}
      </h4>
      <span class="h4-text-typo">{{
        `projects.projectDetails.${projectService.projectArr[projectService.projectPos]}.implementText` | translate
      }}</span>
    </div>
    <div class="dur-wrapper">
      <span class="project-detail-button">{{
        `projects.projectDetails.${projectService.projectArr[projectService.projectPos]}.durHeader` | translate
      }}</span
      ><span class="h4-text-typo">{{
        `projects.projectDetails.${projectService.projectArr[projectService.projectPos]}.durTime` | translate
      }}</span>
    </div>
    <div class="tech-stack-wrapper">
      @for (logo of projectService.usedTechs; track $index) {
      <div>
        <img [src]="logo.imgPath" [alt]="logo.imgAltText" />
        <span class="project-techlogo-font">{{ logo.name }}</span>
      </div>
      }
    </div>
  </div>
</div>
