@use "../../../styles/mixins.scss" as mixins;

.mobile-header {
  display: none;
  padding: 16px;

  @media (max-width: 850px) {
    display: flex;
    @include mixins.flex-spbtw-ctr-row();
  }

  > div {
    @include mixins.flex-spbtw-ctr-row(center, center);
    width: 32px;
    height: 32px;
  }


}