@use "_colors" as colors;
@use "_mixins" as mixins;
@use "_fonts";

.mobile-header {
  display: none;
  padding: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));

  @media (max-width: 850px) {
    display: flex;
    @include mixins.flex-spbtw-ctr-row();
  }
  @media (max-width: 420px) {
    padding: 8px;
  }

  > div {
    @include mixins.flex-spbtw-ctr-row(center, center);
    width: 32px;
    height: 32px;
    position: relative;
  }
}

.burger-icon-blue path {
  fill: colors.$main-blue;
}

.burger-inactive-logo {
  @include mixins.absolute-ctr();
}
