@use "../../styles/colors.scss" as colors;
@use "../../styles/mixins.scss" as mixins;
@use "../../styles/fonts.scss";

section {
  position: relative;
  background-color: colors.$main-white;
  background-image: url("../../../../public/images/hero-section/her-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100dvw;
  height: 100dvh;
}

.main-wrapper {
  @include mixins.absolute-ctr();
  @include mixins.flex-spbtw-ctr-row(space-between, center, column);
  width: 800px;
  height: 600px;

  @media (max-width: 850px) {
    position: static;
    transform: translate(0, 0);
    justify-content: center;
    width: auto;
    height: auto;
    margin: 40px 20px 20px;
  }
}

.hero-button {
  font-family: bricolage, sans-serif;
  font-weight: 500;
  color: colors.$main-white;
  border: solid colors.$main-white 1px;
  @include mixins.flex-spbtw-ctr-row(center);
  align-self: flex-start;
  padding: 12px 24px;
  border-radius: 100px;
  width: 145px;
  height: 40px;
  text-wrap: nowrap;
}

.hello-wrapper {
  align-self: flex-start;

  > div {
    position: relative;
    overflow: hidden;
  }
}

.hand-wrapper {
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.hand-logo {
  animation: animate-hand-logo-main-back forwards 0.6s ease;
}

.hand-logo-animate {
  animation: animate-hand-logo-main forwards 0.6s ease;
}

@keyframes animate-hand-logo-main {
  from {
    filter: opacity(0);
    transform: rotate(0deg);
  }
  to {
    filter: opacity(1);
    transform: rotate(360deg);
  }
}

@keyframes animate-hand-logo-main-back {
  from {
    filter: opacity(1);
    transform: rotate(360deg);
  }
  to {
    filter: opacity(0);
    transform: rotate(0deg);
  }
}

.hello-button {
  transition: all 0.3s ease-in-out;
  position: relative;

  > span {
    @include mixins.absolute-ctr();
    z-index: 10;

    &:hover {
      cursor: default;
    }
  }
}

.touch-button {
  box-shadow: 2px 4px 0 0 colors.$main-white;
  align-self: flex-end;
  width: auto;
  transition: all ease 0.3s;

  &:hover {
    transform: translate(2px, 4px);
    background-color: colors.$main-red;
    box-shadow: 0 0 0 0 colors.$main-white;
  }
}

.hello-hover {
  animation: hello-bounce 1s forwards;
}

@keyframes hello-bounce {
  0% {
    width: 145px;
  }
  50% {
    width: 285px;
  }
  85% {
    width: 270px;
  }
  100% {
    width: 275px;
  }
}

.hello-hover-back {
  animation: hello-bounce-back 1s forwards;
}

@keyframes hello-bounce-back {
  0% {
    width: 275px;
  }
  50% {
    width: 135px;
  }
  85% {
    width: 150px;
  }
  100% {
    width: 145px;
  }
}

.hello-name-mask {
  @include mixins.absolute-ctr();
  width: 0;
  height: 40px;
  background-color: colors.$main-blue;
  z-index: 5;
  transition: width ease-in-out 0.4s;
}

.hello-button-hover {
  width: 275px;
}

.hide-hello-name {
  transition: filter 0.3s ease-in-out;
  filter: opacity(0);
}

.show-hello-name {
  filter: opacity(1);
}

.single-letter {
  position: relative;
  color: colors.$main-white;
  font-family: bricolage, sans-serif;
  font-size: 128px;
  font-weight: 700;

  @media(max-width: 750px) {
    font-size: 96px;
  }

  @media(max-width: 550px) {
    font-size: 64px;
  }

  @media(max-width: 360px) {
    font-size: 48px;
  }

  &:hover {
    color: colors.$main-yellow;
    cursor: default;
  }
}

.main-text-wrapper {
  width: 100%;
}

.frontend-wrapper {
  position: relative;
  @include mixins.flex-spbtw-ctr-row();
  margin-right: auto;

  @media (max-width: 850px) {
    position: static;
  }

  > span {
    position: relative;
  }
}

.pic-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  @include mixins.flex-spbtw-ctr-row(center, center, column);
  padding: 10px 10px 4px;
  background-color: colors.$main-white;
  font-family: kalam-700, sans-serif;
  font-weight: 700;
  font-size: 24px;
  transform: rotate(8deg);

  @media (max-width: 850px) {
    right: 50%;
    transform: translate(50%, 300px) rotate(8deg);
  }

  > img {
    filter: grayscale(1);
    width: 176px;
    height: 176px;
    margin-bottom: 6px;
  }
}

.dev-wrapper {
  justify-self: flex-end;
}

.show-image {
  filter: grayscale(0) !important;
}

.social-links {
  @include mixins.flex-spbtw-ctr-row(center, center, column);
  position: absolute;
  left: 72px;
  bottom: 100px;
  gap: 8px;

  @media (max-width: 850px) {
    display: none;
  }
}
