@use "colors" as colors;
@use "mixins" as mixins;
@use "typography";
@use "visibility";
@use "layout";

section {
  width: 100%;
  color: colors.$main-white;
  padding: 0 160px 56px;
  @include mixins.flex-spbtw-ctr-row(space-between, flex-end);

  @media (max-width: 1350px) {
    padding: 0 30px 56px;
  }

  @media (max-width: 1250px) {
    width: 95dvw;
  }

  @media (max-width: 768px) {
    @include mixins.flex-spbtw-ctr-row(center, center, column);
  }

  @media (max-width: 600px) {
    padding: 0 0 56px;
  }

  @media (max-width: 420px) {
    padding: 8px 8px 56px;
  }
}

a {
  text-decoration: none;

  > span {
    color: colors.$main-white;
  }
}

.name-wrapper {
  @include mixins.flex-spbtw-ctr-row(center, flex-start, column);
  gap: 12px;
  margin-bottom: 12px;

  @media (max-width: 768px) {
    margin-bottom: 24px;
    width: 100%;
  }
}

.top-wrapper {
  @include mixins.flex-spbtw-ctr-row(center, flex-start, column);
  gap: 12px;

  @media (max-width: 768px) {
    @include mixins.flex-spbtw-ctr-row();
    width: 100%;
  }

  @media (max-width: 360px) {
    text-align: end;
  }
}

.legal-link-wrapper {
  position: relative;

  &:hover > img {
    clip-path: inset(0 0 0 0);
  }

  @media (max-width: 768px) {
    align-self: flex-end;
  }

  > img {
    @include mixins.absolute-ctr();
    transform: translate(-50%, -50%);
    width: 110px;
    clip-path: inset(0 110px 0 0);
    transition: clip-path 150ms ease-in;
  }
}

.mobile-wrapper {
  @media (max-width: 768px) {
    width: 100%;
    @include mixins.flex-spbtw-ctr-row();
  }

  @media (max-width: 390px) {
    flex-direction: column;
  }
}

.my-logo {
  width: 80px;
  height: 66px;
  object-fit: fill;
  display: block;

  @media (max-width: 768px) {
    transform: translateX(10px);
  }
}
