@use "../../../styles/mixins.scss" as mixins;
@use "../../../styles/fonts.scss";
@use "../../../styles/colors.scss" as colors;

.links-container {
  @include mixins.flex-spbtw-ctr-row(center, center, column);
  gap: 64px;
}

.link-wrapper {
  @include mixins.flex-spbtw-ctr-row(center);
  position: relative;

  > div {
    font-family: bricolage, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: colors.$main-white;
  }

  > img {
    @include mixins.absolute-ctr();
    width: 120px;
  }
}

.links-container > .link-wrapper:nth-of-type(4) > img {
  @include mixins.absolute-ctr();
  transform: translate(-50%, -20%);
  width: 125px;
}

.de-underline {
    @include mixins.absolute-ctr();
    width: 160px !important;
    height: 40px;
    // clip-path: inset(0 200px 0 0) !important;
}

.en-underline {
    @include mixins.absolute-ctr();
    width: 100px !important;
    height: 40px;
    // clip-path: inset(0 100px 0 0) !important;
}