@use "typography" as typo;
// @use "layout";
@use "colors" as colors;
@use "mixins" as mixins;
// @use "visibility";
// @use "visuals";

section {
  padding: 40px;
  width: 600px;
  height: auto;
  background-image: url("../../../../../../public/images/contact-me/sent_bg.png");
  background-size: cover;
  color: colors.$main-white;
  border-radius: 20px;

  @media (max-width: 650px) {
    width: 95dvw;
  }

  > span {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: solid 1px colors.$main-blue;
    padding-bottom: 20px;
  }

  > div {
    @include mixins.flex-spbtw-ctr-row();
  }
}

.error-text {
  color: red;
}

.roll-out-wrapper {
  width: 150px;
  display: flex;

  > img {
    margin: 0 0 0 auto;
    transform: translateX(-100px);
    opacity: (0);
  }
}

.animate-hand {
  animation: wave-hand ease-in-out 1200ms forwards;
}

@keyframes wave-hand {
  0% {
    transform: translateX(-100px) rotate(0);
    opacity: (0);
  }
  70% {
    transform: translateX(2px) rotate(365deg);
    opacity: (1);
  }
  85% {
    transform: translateX(-2px) rotate(355deg);
    opacity: (1);
  }
  100% {
    transform: translateX(0) rotate(360deg);
    opacity: (1);
  }
}

button {
  @include typo.bricolage-font(18px, 500);
  @include mixins.flex-spbtw-ctr-row(center);
  padding: 12px 24px;
  border-radius: 100px;
  height: 40px;

  &:hover {
    cursor: url("../../../../../../public/images/cursor_portfolio_hover_blue.png"),
      pointer;
    box-shadow: 0 0 0 0 colors.$main-white;
  }

  width: auto;
  transition: all ease-in-out 0.2s;
}

.light-button {
  color: colors.$main-white;
  background-color: rgba(0, 0, 0, 0);
  border: solid colors.$main-white 1px;
  box-shadow: 2px 4px 0 0 colors.$main-white;

  &:hover {
    transform: translate(2px, 4px);
    background-color: colors.$main-red;
  }
}
