.section-padding {
  padding: 100px 160px;

  @media (max-width: 1500px) {
    padding: 80px 80px;
  }

  @media (max-width: 1500px) {
    padding: 40px 50px;
  }

  @media (max-width: 600px) {
    padding: 40px 16px;
  }

  @media (max-width: 420px) {
    padding: 40px 8px;
  }
}

.inner-section-two-col {
  display: grid;
  grid-template-columns: 560px 560px;
  justify-content: space-between;

  @media (max-width: 1500px) {
    justify-content: space-between;
  }

  @media (max-width: 1250px) {
    justify-content: space-between;
    grid-template-columns: 90vw;
    justify-content: center;
    gap: 80px;
  }

  @media (max-width: 850px) {
    gap: 40px;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.max-content-width {
  max-width: 1920px;
  margin: 0 auto;
}
