.display-none {
  display: none !important;
}

.display-none-touch-device {
  @media (pointer: coarse) {
    display: none;
  }
}

.display-block-touch-device {
  display: none;

  @media (pointer: coarse) {
    display: block;
  }
}

.display-flex-touch-device {
  display: flex;

  @media (pointer: coarse) {
    display: flex;
  }
}

.display-hide-768px-width {
  @media (max-width: 768px) {
    display: none;
  }
}

.display-block-768px-width {
  
  @media (max-width: 768px) {
    display: block;
  }
}

.display-hide-1250px-width {
  @media (max-width: 1250px) {
    display: none !important;
  }
}

.display-block-768px-width {
  
  @media (max-width: 768px) {
    display: block;
  }
}

.display-hide-over-1250px-width {
  @media (min-width: 1251px) {
    display: none !important;
  }
}

.display-flex-mobile768-width {
  display: none;
  @media (max-width: 768px) {
    display: flex;
  }
}