@use "fonts";


@mixin bricolage-font($size: 20px, $weight: 400){
    font-family: bricolage, sans-serif;
    font-size: $size;
    font-weight: $weight;
  }


.section-header-small-text-typo {
  @include  bricolage-font(20px, 500);

  @media (max-width: 850px) {
    @include bricolage-font(18px, 500);
  }
}


.section-header-typo {
  @include  bricolage-font(64px, 700);
  margin: 0;

  @media (max-width: 850px) {
    @include bricolage-font(48px, 700);
  }
}

.h4-header-typo {
  margin: 0;
  @include bricolage-font(24px, 700);

  @media (max-width: 850px) {
    @include bricolage-font(20px, 700);
  }
}

.h4-text-typo {
  margin: 0;
  @include bricolage-font(18px, 400);
}

.section-text-typo {
    @include bricolage-font(20px, 400);

    @media (max-width: 850px) {
        @include bricolage-font(18px, 400);
    }
}

.project-detail-button {
  @include bricolage-font(18px, 700);
}

.project-techlogo-font {
  @include bricolage-font(16px, 400);
}