@use "fonts";


@mixin bricolage-font($size: 20px, $weight: 400){
    font-family: bricolage, sans-serif;
    font-size: $size;
    font-weight: $weight;
  }


.section-header-small-text-typo {
  @include  bricolage-font(20px, 500);

  @media (max-width: 850px) {
    @include bricolage-font(18px, 500);
  }
}


.section-header-typo {
  @include  bricolage-font(64px, 700);

  @media (max-width: 850px) {
    @include bricolage-font(48px, 700);
  }
}


.section-text-typo {
    @include bricolage-font(20px, 400);

    @media (max-width: 850px) {
        @include bricolage-font((18px, 400), )
    }
}

