@use "_colors" as colors;
@use "_mixins" as mixins;
@use "_fonts";

.mobile-header-menu {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 85dvh;
  background-image: url("../../../../../../public/images/hero-section/hero-bg.png");
  background-position: bottom;
  background-size: cover;
  z-index: 100;
  transform: translateY(-100dvh);
  transition: transform ease-in-out 0.4s;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.open-menu {
  transform: translateY(0);
}

.height-wrapper {
  height: 85%;
  @include mixins.flex-spbtw-ctr-row();
  flex-direction: column;
}

.top {
  @include mixins.flex-spbtw-ctr-row();
  padding: 16px;
  width: 100%;

  > div {
    width: 32px;
    height: 32px;
    @include mixins.flex-spbtw-ctr-row(center);
    position: relative;
  }
}

.middle {
  @include mixins.flex-spbtw-ctr-row(space-between, center, column);
  height: 60%;
}

.bottom {
  @include mixins.flex-spbtw-ctr-row(center);
  gap: 24px;
}

app-header-links {
  @include mixins.flex-spbtw-ctr-row();
  flex-direction: column;
  height: 80%;
}

.close-icon-blue path {
  fill: colors.$main-blue;
}

.burger-inactive-logo {
  @include mixins.absolute-ctr();
}

.logo-wrapper {
  > img {
    width: 50px;
    height: 46px;
    object-fit: fill !important;
    display: block;
  }
}