<div>
  <div
    class="img-wrapper"
    (mouseenter)="hoverProject = true"
    (mouseleave)="hoverProject = false"
  >
    @if (animate) { @if (!hoverProject) {
    <img
      [ngClass]="{ 'animate-img': animate }"
      [src]="imgPath"
      [alt]="imgAltText"
    />
    } @else {
    <img class="img-hover-effect-animate" [src]="imgPath" [alt]="imgAltText" />
    } } @else {
    <img
      class="img-hover-effect-not-animate"
      [src]="imgPath"
      [alt]="imgAltText"
    />
    }

    <div class="content-wrapper">
      <ng-content></ng-content>
    </div>
  </div>

  <h4 class="h4-header-typo project-header-text">
    {{ translateHeaderPath | translate }}
  </h4>
  <span class="h4-text-typo">{{ translateTextPath | translate }}</span>
</div>
