@use "colors" as colors;
@use "mixins" as mixins;
@use "fonts";

a {
  text-decoration: none;
}

.link-wrapper {
  @include mixins.flex-spbtw-ctr-row(center);
  position: relative;

  > div {
    font-family: bricolage, sans-serif;
    font-size: 18px;
    font-weight: 700;
    // color: colors.$main-white;
  }

  > img {
    @include mixins.absolute-ctr();
    width: 120px;
    clip-path: inset(0 160px 0 0);
    transition: clip-path 0.3s ease-in-out;
  }
}

nav:nth-of-type(4) .link-wrapper > img {
  @include mixins.absolute-ctr();
  transform: translate(-50%, -20%);
  width: 125px;
}

.de-underline {
  @include mixins.absolute-ctr();
  width: 160px !important;
  height: 40px;
  clip-path: inset(0 180px 0 0);
}

.en-underline {
  @include mixins.absolute-ctr();
  width: 100px !important;
  height: 40px;
  clip-path: inset(0 100px 0 0);
}

.show-link-img {
  transition: clip-path 0.3s ease-in-out;
  clip-path: inset(0 0 0 0) !important;
}

.link-wrapper:hover > img {
  @media (min-width: 850px) {
    clip-path: inset(0 0 0 0) !important;
  }
}
