
  <a (click)="setLinkIndex(0)" class="link-wrapper" href="#">
    <div class="link">
      {{ 'header.aboutme' | translate }}
    </div>
    <img [class.show-link-img]="clickedLinkIndex === 0" src="images/header/1.png" />
  </a>

  <a (click)="setLinkIndex(1)"  class="link-wrapper" href="#">
    <div class="link">
      {{ 'header.skills' | translate }}
    </div>
    <img
      [ngClass]="checkLang() === 'de' ? 'de-underline' : 'en-underline'"
      [class.show-link-img]="clickedLinkIndex === 1"
      src="images/header/2.png"
    />
  </a>

  <a (click)="setLinkIndex(2)"  class="link-wrapper" href="#">
    <div class="link">
      {{ 'header.projects' | translate }}
    </div>
    <img [class.show-link-img]="clickedLinkIndex === 2" src="images/header/3.png" />
  </a>

  <a (click)="setLinkIndex(3)"  class="link-wrapper" href="#">
    <div class="link">
      {{ 'header.contact' | translate }}
    </div>
    <img [class.show-link-img]="clickedLinkIndex === 3" src="images/header/4.png" />
  </a>
