@use "../../styles/mixins.scss" as mixins;
@use "../../styles/fonts.scss";
@use "../../styles/colors.scss" as colors;

section {
  margin: 0 72px;
  color: white;
  height: 80px;
  @include mixins.flex-spbtw-ctr-row();
}

.logo {
  height: 40px;
}

.logo path {
  transition: fill 0.5s ease-in-out;
}

.logo:hover path {
  fill: colors.$main-yellow;
}

.link-wrapper {
  position: relative;
  @include mixins.flex-spbtw-ctr-row(center, center);

  > img {
    @include mixins.absolute-ctr();
    width: 110px;
    height: 40px;
    clip-path: inset(0 110px 0 0);
  }
}
.link-wrapper:nth-of-type(2) {
  position: relative;
  @include mixins.flex-spbtw-ctr-row(center, center);

  > img {
    @include mixins.absolute-ctr();
    width: 110px;
    height: 40px;
    clip-path: inset(0 0 40px 0);
  }
}

.de-underline {
    @include mixins.absolute-ctr();
    width: 200px !important;
    height: 40px;
    clip-path: inset(0 200px 0 0) !important;
}

.en-underline {
    @include mixins.absolute-ctr();
    width: 100px !important;
    height: 40px;
    clip-path: inset(0 100px 0 0) !important;
}

.link {
  font-size: 18px;
  font-weight: 700;
  font-family: bricolage, sans-serif;
  z-index: 10;

  &:hover {
    cursor: pointer;
  }

  &:hover + img {
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.3s;
  }

  &:hover + .de-underline {
    clip-path: inset(0 0 0 0) !important;
    transition: clip-path 0.3s;
  }

  &:hover + .en-underline {
    clip-path: inset(0 0 0 0) !important;
    transition: clip-path 0.3s;
  }
}

.lang-wrapper {
  @include mixins.flex-spbtw-ctr-row();
  height: 32px;
  gap: 8px;

  > div {
    > span {
        position: relative;
      font-weight: 600;
      font-family: bricolage, sans-serif;
      font-size: 16px;
      z-index: 10;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.lang-single-wrapper {
  position: relative;

  > img {
    
    @include mixins.absolute-ctr();
    width: 28px;
    z-index: 5;
    clip-path: inset(0 30px 30px 0);
  }
}

.selected {
  color: colors.$main-red;
  pointer-events: none;
}

.not-selected {
  color: white;
}

.lang-line {
  position: relative;
  width: 32px;
  height: 8px;
  border: solid colors.$main-white 1px;
  border-radius: 4px;
  background-color: colors.$main-red;
}

.lang-dot {
  width: 16px;
  height: 16px;
  background-color: colors.$main-blue;
  border: solid colors.$main-white 1px;
  border-radius: 12px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  top: 50%;
  left: 50%;
}

.dot-en {
  transform: translate(-20px, -50%);

  &:hover + img {
    clip-path: inset(0 0 0 0);
  }
}

.dot-de {
  transform: translate(4px, -50%);
}

.not-selected:hover {
    cursor: pointer;
}

.lang-single-wrapper:hover > span + img.select-hover {
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.2s ease-in-out;
}

