<section>
  <div>
    <a routerLink="/">
    <div class="logo-wrapper" (click)="logoYellow()" (mouseenter)="yellowLogo=true" (mouseleave)="yellowLogo=false">
      @if (yellowLogo) {
      <img
        class="my-logo"
        src="images/hero-section/meinlogo_yellow.svg"
        alt="my logo"
      />
      } @else {
      <img
        class="my-logo"
        src="images/hero-section/meinlogo.svg"
        alt="my logo"
      />
      }
    </div>
  </a>
  </div>

  <div class="middle">
    <app-header-links [linkColor]="linkColor"></app-header-links>
  </div>
  <div class="right">
    <app-lang-switch
      [langSwitchTxtColor]="langSwitchTxtColor"
    ></app-lang-switch>
  </div>
</section>
<app-mobile-header></app-mobile-header>
