@use "../../../../styles/colors.scss" as colors;
@use "../../../../styles/mixins.scss" as mixins;
@use "../../../../styles/fonts.scss";

button {
  font-family: bricolage, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: colors.$main-white;
  border: solid colors.$main-white 1px;
  @include mixins.flex-spbtw-ctr-row(center);
  padding: 12px 24px;
  border-radius: 100px;
  width: 145px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);

  box-shadow: 2px 4px 0 0 colors.$main-white;
  align-self: flex-end;
  width: auto;
  transition: all ease 0.3s;
  
  &:hover {
    transform: translate(2px, 4px);
    background-color: colors.$main-red;
    box-shadow: 0 0 0 0 colors.$main-white;
  }

}