@use "../../../styles/mixins.scss" as mixins;

.mobile-header-menu {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 85dvh;
    padding: 16px;
    background-image: url("../../../../../public/images/hero-section/hero-bg.png");
    background-position: bottom;
    background-size: cover;
    z-index: 100;
}

.top {
@include mixins.flex-spbtw-ctr-row();
}