<div>
  <div class="img-wrapper">
    <img [src]="projectService.projectInfos[projectService.projectArr[projectService.projectPos]].img"  />
    @if(projectService.projectPos === 0) {
    <img [src]="projectService.projectInfos[projectService.projectArr[projectService.projectPos]].sticker" data-aos="fade" data-aos-delay="300" />
    } @else {

    <div class="sticker-wrapper" data-aos="fade" data-aos-delay="300">
      <app-my-logo-sticker
        [stickerImgPath]="
          'images/projects/project-details/elpolloloco/gold_sticker.png'
        "
        [logoImgPath]="'images/contact-me/meinlogo_black.svg'"
      ></app-my-logo-sticker>
    </div>
    }
  </div>
  <div class="button-wrapper">
    <app-main-button
      [translateText]="'Git Hub'"
      [color]="'light-button'"
      [hrefPath]="projectService.projectInfos[projectService.projectArr[projectService.projectPos]].gitButtonLink"
      [target]="'_blank'"
    ></app-main-button>

    <app-main-button
      [translateText]="'Live Test'"
      [color]="'light-button'"
      [hrefPath]="projectService.projectInfos[projectService.projectArr[projectService.projectPos]].liveTestLink"
      [target]="'_blank'"
    ></app-main-button>
  </div>
</div>
