<div>
  <div class="img-wrapper">
    <img [src]="projectService.imgPath" />
    <img [src]="projectService.stickerPath" />
  </div>
  <div class="button-wrapper">

    <app-main-button
      [translateText]="'Git Hub'"
      [color]="'light-button'"
      [hrefPath]="projectService.gitLink"
      [target]="'_blank'"
    ></app-main-button>
    
    <app-main-button
      [translateText]="'Live Test'"
       [color]="'light-button'"
       [hrefPath]="projectService.liveLink"
       [target]="'_blank'"
    ></app-main-button>
  </div>
</div>
