
<form
  (ngSubmit)="onSubmit(contactMeForm)"
  #contactMeForm="ngForm"
  autocomplete="off"
>
  <div class="input-wrapper">
    <label for="name" class="input-label-typo"
      >{{ "contactMe.form.name.header" | translate }}
      <input
        [class.error-red]="nameError"
        #name="ngModel"
        id="name"
        type="text"
        name="name"
        maxlength="50"
        required
        pattern="^[a-zA-ZäöüÄÖÜß0-9\-'\s]+$"
        [(ngModel)]="contactData.name"
        [placeholder]="placeholderName | translate"
    /></label>
    @if (!name.valid && name.touched) {
    <span class="text-error">{{
      "contactMe.form.name.errorMessage" | translate
    }}</span>
    }
  </div>

  <div class="input-wrapper">
    <label for="email" class="input-label-typo"
      >{{ "contactMe.form.email.header" | translate }}
      <input
        [class.error-red]="emailError"
        #email="ngModel"
        id="email"
        type="email"
        name="email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        [(ngModel)]="contactData.email"
        [placeholder]="placeholderEmail | translate"
    /></label>
    @if (!email.valid && email.touched) {
    <span class="text-error">{{
      "contactMe.form.email.errorMessage" | translate
    }}</span>
    }
  </div>

  <div class="input-wrapper">
    <label for="message" class="input-label-typo"
      >{{ "contactMe.form.message.header" | translate }}
      <input
        #message="ngModel"
        [class.error-red]="messageError"
        id="message"
        type="text"
        name="message"
        maxlength="300"
        required
        pattern="^[a-zA-ZäöüÄÖÜß0-9\-'\s.,!?;:]+$"
        [(ngModel)]="contactData.message"
        [placeholder]="placeholderMessage | translate"
    /></label>
  </div>

  <div class="input-checkbox-wrapper">
    <label for="privacy"></label>
    <input
      id="privacy"
      type="checkbox"
      class="privacy-checkbox"
      name="privacy"
      required
      [(ngModel)]="contactData.privacy"
    />
    <div>
      <span class="privacy-checkbox-font">{{
        "contactMe.form.privacy.firstPart" | translate
      }}</span>
      <a routerLink="data-save" class="privacy-checkbox-font privacy-link">{{
        "contactMe.form.privacy.privacyPart" | translate
      }}</a>
      <span class="privacy-checkbox-font">{{
        "contactMe.form.privacy.lastPart" | translate
      }}</span>
    </div>
  </div>

  <div [ngClass]="[privacyError ? 'error-message' : 'no-error-message']">
    {{ placeholderPrivacy | translate }}
  </div>

  <div class="send-button-wrapper">
    <img
      class="contact-arrow display-hide-over-1250px-width"
      src="images/contact-me/contact_arrow.png"
      alt="contact arrow"
    />
    <button
      type="submit"
      [ngClass]="['send-button', checkButton(contactMeForm) === true ? 'active-button' : 'inactive-button']"
    >
      {{ "contactMe.sendButton" | translate }}
    </button>
  </div>
</form>


