
      <form (ngSubmit)="onSubmit()">
        <div class="input-wrapper">
          <label for="name" class="input-label-typo"
            >{{ "contactMe.form.yourName.header" | translate }}
            <input
              id="name"
              type="text"
              name="name"
              [(ngModel)]="contactData.name"
              [placeholder]="'contactMe.form.yourName.placeholder' | translate"
          /></label>
        </div>

        <div class="input-wrapper">
          <label for="email" class="input-label-typo"
            >{{ "contactMe.form.yourEmail.header" | translate }}
            <input
              id="email"
              type="email"
              name="email"
              [placeholder]="
                'contactMe.form.yourEmail.placeholder' | translate
              "
          /></label>
        </div>

        <div class="input-wrapper">
          <label for="message" class="input-label-typo"
            >{{ "contactMe.form.helpYou.header" | translate }}
            <input
              id="message"
              type="text"
              name="message"
              [placeholder]="'contactMe.form.helpYou.placeholder' | translate"
          /></label>
        </div>

        <div class="input-checkbox-wrapper">
          <label for="privacy"></label>
          <input
            id="privacy"
            type="checkbox"
            class="privacy-checkbox"
            name="privacy-check"
          />
          <div>
            <span class="privacy-checkbox-font">{{
              "contactMe.form.privacy.firstPart" | translate
            }}</span>
            <a href="#" class="privacy-checkbox-font privacy-link" href="">{{
              "contactMe.form.privacy.privacyPart" | translate
            }}</a>
            <span class="privacy-checkbox-font">{{
              "contactMe.form.privacy.lastPart" | translate
            }}</span>
          </div>
        </div>
        <div class="error-message">
          {{ "contactMe.privacyAccept" | translate }}
        </div>

        <div class="send-button-wrapper">
          <img
            class="contact-arrow display-hide-over-1250px-width"
            src="images/contact-me/contact_arrow.png"
            alt="contact arrow"
          />
          <button class="send-button">
            {{ "contactMe.sendButton" | translate }}
          </button>
        </div>
      </form>