<section>
  <div class="header-wrapper max-content-width">
    <app-header></app-header>
  </div>
  <div class="section-padding max-content-width">
    <h3 class="section-header-typo">{{ "imprint.header" | translate }}</h3>

    <br />
    <div class="wrapper">
      <p class="h3-header-typo-imprint">
        <strong>{{ "imprint.info" | translate }}</strong>
      </p>
      <img src="images/imprint/imprint_header_line.svg" alt="underline" />
    </div>
    <p>
      <strong>
        Joachim Pürcher <br />
        Schöneringer Straße 12e <br />
        4073 Wilhering <br />
      </strong>
    </p>

    <p>
      {{ "imprint.phoneText" | translate }} +43 676 770 41 99 <br />
      E-Mail:
      <a href="mailto:contact.PuercherJoachim.com">
        contact&#64;PuercherJoachim.com</a
      >
    </p>
    <br />
    <div class="wrapper">
      <h5 class="h3-header-typo-imprint">
        {{ "imprint.liabilityHeader" | translate }}
      </h5>
      <img src="images/imprint/imprint_header_line.svg" alt="underline" />
    </div>
    <p></p>
    <p>
      {{ "imprint.liabilityText" | translate }}
    </p>
    <br />
    <div class="wrapper">
      <h5 class="h3-header-typo-imprint">
        {{ "imprint.linksHeader" | translate }}
      </h5>
      <img src="images/imprint/imprint_header_line.svg" alt="underline" />
    </div>
    <p>
      {{ "imprint.linksText" | translate }}
    </p>
    <br />

    <div class="wrapper">
      <h5 class="h3-header-typo-imprint">
        {{ "imprint.copyrightHeader" | translate }}
      </h5>
      <img src="images/imprint/imprint_header_line.svg" alt="underline" />
    </div>
    <p>
      {{ "imprint.copyrightText" | translate }}
    </p>
    <br />

    <div class="wrapper">
      <h5 class="h3-header-typo-imprint">
        {{ "imprint.onlineLinksHeader" | translate }}
      </h5>
      <img src="images/imprint/imprint_header_line.svg" alt="underline" />
    </div>
    <p>
      {{ "imprint.onlineLinksSubText" | translate }}
    </p>
    <a href="https://www.linkedin.com/in/joachim-pürcher-92b249345">https://www.linkedin.com/in/joachim-pürcher-92b249345</a><br>
    <a href="https://github.com/Yogibear-pixel-99">https://github.com/Yogibear-pixel-99</a>
    <p>
      {{ "imprint.onlineLinksText" | translate }}
    </p>
    <br />
  </div>
  <app-footer [showTop]="false"></app-footer>
</section>
